<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frewen.android.demo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="com.frewen.android.demo.permission.ACCESS_TICKET_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.frewen.android.demo.permission.ACCESS_TICKET_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AliceApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:name=".business.ui.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".business.samples.rxjava2.usecase.RxSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".business.samples.opengles.OpenGLESDemoActivity"
            android:exported="true" />
        <activity android:name=".performance.TestAuraPerfGuardActivity" />
        <activity
            android:name=".business.samples.view.TranslucentActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".business.samples.AnimationDrawableActivity" />
        <activity android:name=".business.samples.media.camera2.Camera2Activity" />
        <activity android:name=".business.samples.opencv.TesseractActivity" />
        <activity android:name=".business.samples.opencv.OpenCVActivity" />
        <activity android:name=".business.samples.network.aura.AuraNetWorkDemoActivity" />
        <activity android:name=".business.samples.FrameAnimationActivity" />
        <activity android:name=".business.ui.WelcomeActivity" />
        <activity android:name="com.frewen.android.demo.business.ui.main.MainActivity" />
        <activity
            android:name=".business.samples.window.WindowDemoActivity"
            android:label="@string/title_activity_window_demo"
            android:theme="@style/NyxAppMaterialTheme.NoActionBar" />
        <activity android:name=".error.ErrorActivity" />
        <activity android:name=".business.samples.net.ProtobufActivity" />
        <activity android:name=".performance.TestPerformanceActivity" />
        <activity android:name=".business.samples.view.recyclerview.AdapterSampleActivity" />
        <activity android:name=".business.samples.view.recyclerview.AnimatorSampleActivity" />
        <activity android:name=".business.samples.designpattern.chainresponsibility.ChainResponsibilityActivity" />
        <activity android:name=".business.samples.designpattern.NotificationActivity" />
        <activity android:name=".business.samples.view.MotionLayoutActivity" />
        <activity android:name=".business.samples.webview.WebViewActivity" />
        <activity android:name=".business.samples.view.CollapsingToolbarLayoutActivity" />
        <activity android:name=".business.samples.view.CoordinatorLayoutActivity" />
        <activity android:name=".business.samples.gson.GsonDemoActivity" />
        <activity
            android:name=".business.samples.androidapi.SecondActivity"
            android:theme="@style/AppTheme.NotFullScreenActivity" />
        <activity android:name=".business.samples.androidapi.ActivityDemoActivity" />
        <activity android:name=".business.samples.view.ConstraintLayoutDemoActivity" />
        <activity android:name=".business.samples.view.RecyclerViewDemoActivity" />
        <activity android:name=".business.samples.animation.AnimationDemoActivity" />
        <activity android:name="com.frewen.android.demo.business.samples.navigation.annotation.publish.PublishActivity" />
        <activity android:name=".business.samples.dagger2.Dagger2Activity" />
        <activity android:name=".business.samples.hook.HookDemoActivity" />
        <activity android:name=".business.samples.unitest.AndroidUnitTestActivity" />
        <activity android:name=".business.samples.view.ViewTouchConflictActivity" />
        <activity android:name=".business.samples.retrofit.RetrofitActivity" />
        <activity android:name=".business.samples.SampleDemoActivity" />
        <activity android:name=".business.samples.jobscheduler.JobSchedulerDemoActivity" />
        <activity android:name=".business.samples.network.WebSocketDemoActivity" />
        <activity android:name=".business.samples.keeplive.KeepLiveActivity" />
        <activity android:name=".business.samples.view.ViewDemoActivity" />
        <activity android:name=".business.samples.network.FreeNetWorkDemoActivity" />
        <activity android:name=".business.samples.OptimusNetWorkActivity" />
        <activity android:name=".business.samples.PermissionActivity" />
        <activity android:name=".business.samples.okhttp.OkHttp3Activity" />
        <activity android:name=".business.samples.AgoraDemoActivity" />
        <activity android:name=".business.samples.concurrent.HandlerThreadActivity" />
        <activity android:name=".business.samples.ipc.client.ContentProviderActivity" />
        <activity android:name=".business.samples.ipc.socket.SocketActivity" />
        <activity android:name=".business.samples.rxjava2.RxJava2Activity" />
        <activity android:name=".business.samples.bitmap.BitmapDemoActivity" />
        <activity android:name=".business.samples.eventbus.StickyMsgActivity" />
        <activity android:name=".business.samples.fragment.FragmentDemoActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxCreateActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxMapActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxFlatMapActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxConcatMapActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxTimerActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxTakeActivity" />
        <activity android:name=".business.samples.rxjava2.operators.RxSkipActivity" />
        <activity android:name=".business.samples.rxjava2.usecase.RxNetSingleActivity" />
        <!-- android:authorities是Content-Provider的唯一标识，通过这个属性外部应用就可以访问我们的StudentContentProvider， -->
        <!-- 因此，android:authorities必须是唯一的，这里建议读者在命名的时候加上包名前缀。 -->
        <!-- 为了演示进程间通信，我们让BookProvider运行在独立的进程中并给它添加了权限， -->
        <!-- 这样外界应用如果想访问BookProvider，就必须声明“com.frewen.content.provider”这个权限。 -->
        <!-- ContentProvider的权限还可以细分为读权限和写权限， -->
        <!-- 分别对应android:readPermission和android:writePermission属性， -->
        <!-- 如果分别声明了读权限和写权限，那么外界应用也必须依次声明相应的权限才可以进行读/写操作，否则外界应用会异常终止。 -->
        <!-- 在Android中authority要求必须是唯一的，比如你在定义一个provider时需要为它指定一个唯一的authority。 -->
        <!-- 如果你在安装一个带有provider的应用时，系统会检查当前已安装应用的authority是否和你要安装应用的authority相同， -->
        <!-- 如果相同则会弹出警告INSTALL FAILED CONFLICTING PROVIDER，并且安装失败。 -->
        <provider
            android:name=".business.samples.ipc.server.StudentContentProvider"
            android:authorities="${applicationId}.provider"
            android:process=":server"
            android:readPermission="com.frewen.content.provider.READ"
            android:writePermission="com.frewen.content.provider.WRITE" />
        <service
            android:name=".business.samples.ipc.remote.socket.RemoteTCPService"
            android:process=":socket_server" />

        <receiver
            android:name=".business.samples.designpattern.chainresponsibility.FirstBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.FIRST_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".business.samples.broadcastreceiver.CommonBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.COMMON_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>